@model List<ExceleGetir.Models.Tbl_AdresKartlari>

@{
    Layout = "~/Views/Shared/_Layout2.cshtml";



}





<table id="myTable" class="table table-striped table-bordered" cellspacing="0" width="100%" style="font-size:10px">
    <applet> Blacklist</applet>   
    <thead>
        <tr>
            <th> id                                 </th>
            <th> Adı                               </th>
            <th> Vergi No                          </th>
            <th> Vergi Dairesi                     </th>
            <th> Ülke                              </th>
            <th> İl                                </th>
            <th> Bölge                             </th>
            <th> Telefon                           </th>
            <th> E-Posta                           </th>
            <th> Adres                             </th>
            <th> Ekstra Not                        </th>
            <th> Ekleyen Kisi Ad Soyad             </th>
            <th> Ekleme Tarihi                     </th>
            <th> Güncelleyen Kisi Ad Soyad         </th>
            <th> Güncelleme Tarihi                 </th>
        </tr>
    </thead>
    <tbody>



        <tr >
            @*<td> id</td>
        <td> musteradi</td>
        <td> vergino</td>
        <td> vergidairesi</td>
        <td> txtcountry</td>
        <td> ilce</td>
        <td> il</td>
        <td> tel</td>
        <td> txtemail</td>
        <td> adres</td>
        <td> txtnotes</td>
        <td> yerliyabanci</td>
        <td> cmbtype</td>
        <td> BLAddedUserId</td>
        <td> BLAddedUserName</td>
        <td> BLAddedDate</td>
        <td> BLAddedUpdatedId</td>
        <td> BLAddedUpdateName</td>
        <td> BLUpdatedDate</td>*@
        </tr>



    </tbody>
    @*<tfoot>
            <tr>
                <th>Adı                                   </th>
                <th>Kodu                                  </th>
                <th>Vergi No                              </th>
                <th>Vergi Dairesi                         </th>
                <th>Ülke                                  </th>
                <th>Bölge                                 </th>
                <th>İl                                    </th>
                <th>Telefon                               </th>
                <th>E-Posta                               </th>
                <th>Adres                                 </th>
                <th>Ekstra Not Alanı (Text Area)          </th>
                <th>Tipi                                  </th>
                <th>Türü                                  </th>
                <th>Notlar                                </th>
                <th> Ekleyen Kisi ID                      </th>
                <th> Ekleyen Kisi Ad Soyad                </th>
                <th> Ekleme Tarihi                        </th>
                <th> Güncelleyen Kisi ID                  </th>
                <th> Güncelleyen Kisi Ad Soyad            </th>
                <th> Güncelleme Tarihi                    </th>
            </tr>
        </tfoot>*@
</table>

